@model ReFreshMVC.Models.Product

<div id="@Model.ID" class="modal" >
    <div class="modal-header"></div>
    <div class="modal-content">
        <div class="row">
            <div class="col s4">
                <img src="@Model.Image"/>
            </div>
            <div class="col s8">
                <table>
                    <thead></thead>
                    <tbody>
                        <tr>
                            <th>Name: </th>
                            <th>@Model.Name</th>
                        </tr>
                        <tr>
                            <th>SKU: </th>
                            <th>@Model.Sku</th>
                        </tr>
                        <tr>
                            <th>Category: </th>
                            <th>@Model.Category</th>
                        </tr>
                        <tr>
                            <th>Meaty: </th>
                            <th>@Model.Meaty</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
