@using Microsoft.AspNetCore.Identity
@using ReFreshMVC.Models
@{ 
    string temp = "";
    if (User.Claims.Count() > 0)
    {
        if (User.Claims.Where(c => c.Type == "Carnivore").FirstOrDefault().Value == "true")
        {
            temp = "Index";
        }
        else
        {
            temp = "NonMeatProducts";
        }
    }

}
    <form class="col s8" asp-controller="Product" asp-action="@temp" style="margin: auto; padding-left:5%; float:none">
    <div class="row">
        <div class="input-field col s2">
            <select name="searchCategory">
                <option value="10">Food Category</option>
                <option value="0">@Categories.entrees</option>
                <option value="1">@Categories.sides</option>
                <option value="2">@Categories.desserts</option>
                <option value="3">@Categories.snacks</option>

            </select>
        </div>
        <div class="input-field col s6">
            <p>
                Search: <input type="text" name="searchString" />
                <input type="submit" value="Filter" />
            </p>
        </div>
    </div>
</form>