@model IEnumerable<ReFreshMVC.Models.Product>
@using ReFreshMVC.Models;
@{
    Layout = "_Layout";
}
<table class="striped">
    <thead>
        <tr>
            <th><a class="btn-floating btn-small waves-effect waves-light red" asp-controller="Product" asp-action="Create"><i class="material-icons">add</i></a></th>
            <th>ID</th>
            <th>Name</th>
            <th>SKU</th>
            <th>Price</th>
            <th>Category</th>
            <th>Meaty</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Product product in Model)
        {
            <tr>
                <th></th>
                <th>@product.ID</th>
                <th>@product.Name</th>
                <th>@product.Sku</th>
                <th>@product.Price</th>
                <th>@product.Category</th>
                <th>@product.Meaty</th>
            </tr>
        }

    </tbody>
</table>