@page
@model ReFreshMVC.Pages.Admin.IndexModel
@using ReFreshMVC.Models
@{
//Layout = "_Layout";
}

@*ADMIN DASHBOARD*@

@*inventory management*@
<h3>INVENTORY</h3>
<div overflow="auto">
    <table>
        @*<thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>*@
        <tbody>
            @foreach (var product in Model.CurrentInventory)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>SKU: @product.Sku</td>
                    <td>$@product.Price each</td>
                    <td>Stock: @product.QtyAvail units</td>
                </tr>
                @*<partial name="_InventoryPartial.cshtml" model="product" />*@
            }
        </tbody>
    </table>

</div>



@*add order viewing section*@
<h3>OPEN ORDERS</h3>
<div overflow="auto">
    @* open orders *@
    <table>
        @*<thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>*@
        <tbody>
            @foreach (var cart in Model.CartsOpen)
            {
                <tr>
                    <td>Cart #@cart.ID</td>
                    <td>@cart.UserName</td>
                    <td>
                        @if (cart.Orders != null)
                        {
                            @foreach (Order order in cart.Orders)
                            {
                                <p>
                                    <span>@order.Product.Name</span>
                                    <span>@order.ProductID</span>
                                    <span>(Qty: @order.Qty)</span>
                                </p>
                            }
                        }
                    </td>
                </tr>
                @*<partial name="_InventoryPartial.cshtml" model="product" />*@
            }
        </tbody>
    </table>
</div>

<h3>CLOSED ORDERS</h3>
<div overflow="auto">
    @* closed orders *@
    <table>
        @*<thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>*@
        <tbody>
            @foreach (var cart in Model.CartsClosed)
            {
                <tr>
                    <td>Cart #@cart.ID</td>
                    <td>@cart.UserName</td>
                    <td>
                        @if (cart.Orders != null)
                        {
                            @foreach (Order order in cart.Orders)
                            {
                                <p>
                                    <span>@order.Product.Name</span>
                                    <span>@order.ProductID</span>
                                    <span>(Qty: @order.Qty)</span>
                                </p>
                            }
                        }
                    </td>
                </tr>
                @*<partial name="_InventoryPartial.cshtml" model="product" />*@
            }
        </tbody>
    </table>
</div>


@*add admin user management section*@
<h3>ADMINISTRATORS</h3>
<div overflow="auto">
    @* admin users *@
    @foreach (User admin in Model.Admins)
    {
        <span>@admin.FirstName</span>
        <span>@admin.LastName</span>
        <span>@admin.UserName</span>
    }
</div>