@model ReFreshMVC.Models.Cart
@using ReFreshMVC.Models;
@{
    Layout = "_Layout";
    int cartTotalPrice = 0;
    if (Model.Orders != null && Model.Orders.Count > 0)
    {
        foreach (Order order in Model.Orders)
        {
            cartTotalPrice += order.ExtPrice;
        }
    }
}
<h1>Cart</h1>

<table>
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    @if (Model.Orders != null)
    {
        <tbody>
            @foreach (Order order in Model.Orders)
            {
                <form asp-action="Edit" asp-controller="Cart" method="post">
                    <input type="hidden" asp-for="@order.CartID" />
                    <input type="hidden" asp-for="@order.ProductID" />
                    <tr>

                        <th>@order.Product.Name"</th>
                        <th><input asp-for="@order.Qty" /></th>
                        <th>$ @order.ExtPrice</th>
                        <td>
                            <a class=" btn waves-effect waves-light" asp-action="Delete" asp-route-id="@order.ProductID">
                                Delete
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                    </tr>
                </form>
            }
        </tbody>
        
            <tfoot>
                <tr>
                    
                </tr>
            </tfoot>
       
    }

</table>
<form asp-action="Checkout" asp-controller="Cart" method="post">
    <div>Order Total </div>
    <div>$ @cartTotalPrice</div>
    <div>
        @{
            if (Model.Orders.Count != 0)
            {
                <a class="waves-effect waves-light btn" asp-controller="Cart" asp-action="Checkout">Check Out</a>
            }
            else
            {
                <a class="waves-effect waves-light btn disabled" asp-controller="Cart" asp-action="Checkout">Check Out</a>
            }
        }
    </div>
</form>