@model ReFreshMVC.Models.Cart
@using ReFreshMVC.Models;
@{
    Layout = "_Layout";
    int cartTotalPrice = 0;
    foreach(Order order in Model.Orders)
    {
        cartTotalPrice += order.ExtPrice;
    }
}
<h1>Cart</h1>
<form asp-action="" asp-controller="" method="post">
    <table>
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(Order order in Model.Orders)
            {
                
            <tr>
                <th>@order.Product.Name</th>
                <th>@order.Qty</th>
                <th>@order.ExtPrice</th>
                <td>
                    <a class="btn waves-effect waves-light" asp-action="" asp-route-id="@order.ProductID">
                        Edit
                        <i class="material-icons">edit</i>
                    </a>
                </td>
                <td>
                    <a class="btn waves-effect waves-light" asp-action="" asp-route-id="@order.ProductID">
                        Delete
                        <i class="material-icons">edit</i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Order Total </th>
                <td>@cartTotalPrice</td>
                <td><input class="waves-effect waves-light btn" type="submit" value="Check Out"/></td>
            </tr>
        </tfoot>
    </table>
</form>
