@model ReFreshMVC.Models.Cart
@using ReFreshMVC.Models;
@{
    Layout = "_Layout";
    int cartTotalPrice = 0;
    if (Model.Orders != null && Model.Orders.Count > 0)
    {
        foreach (Order order in Model.Orders)
        {
            cartTotalPrice += order.ExtPrice;
        }
    }
}
<h1>Cart</h1>

<div class="CartOrders container">
    <div class="row">
            <div class="col s3">Product Name</div>
            <div class="col s3">Quantity</div>
            <div class="col s3">Price</div>
            <div class="col s3"></div>
    </div>
    @if (Model.Orders != null)
    {

            @foreach (Order order in Model.Orders)
            {
                <div class="row">
                    <form asp-action="Edit" asp-controller="Cart" method="post">
                        <input type="hidden" asp-for=@order.CartID />
                        <input type="hidden" asp-for=@order.ProductID />
            

                        <div class="col s3">@order.Product.Name"</div>
                        <div class="col s3"><input asp-for="@order.Qty" /></div>
                        <div class="col s3">$ @order.ExtPrice</div>
                        <div class="col s3">
                            <a class=" btn waves-effect waves-light" asp-action="Delete" asp-route-id="@order.ProductID">
                                Delete
                                <i class="material-icons">edit</i>
                            </a>
                        </div>
                    </form>
                </div>
            }
    }

</div>
<form asp-action="Checkout" asp-controller="Cart" method="post">
    <div>Order Total </div>
    <div>$ @cartTotalPrice</div>
    <div>
        @{
            if (Model.Orders.Count != 0)
            {
                @*<a class="waves-effect waves-light btn" asp-controller="Cart" asp-action="Payment">Check Out</a>*@
                <a class="waves-effect waves-light btn modal-trigger" href="#paymentModal">Checkout</a>
                <div id="PaymentComponent" hidden="hidden">
                    @await Component.InvokeAsync("Payment")
                </div>

            }
            else
            {
                <a class="waves-effect waves-light btn disabled">Check Out</a>
            }
        }
    </div>
</form>